footer {
  background-color: black;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  h4 {
    padding: 30px 0;
  }

  .contact {
    padding-left: 0px !important;

    li {
      vertical-align: top;
      display: inline;
    }

    a {
      color: #fff;
      text-decoration: none;
      padding-right: 0.4rem;
    }

    &__link {
      color: #fff;
      &__icon {
        padding: 1rem 2rem;
        -o-transition: 0.5s;
        -ms-transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
      }
    }
  }

  .fa-facebook,
  .fa-linkedin,
  .fa-github,
  .fa-envelope {
    background-color: #322f30;
  }

  .fa-facebook:hover {
    background-color: #3d5b99;
  }

  .fa-linkedin:hover {
    background-color: #0073a4;
  }

  .fa-github:hover {
    background-color: #5a32a3;
  }

  .fa-envelope:hover {
    background-color: #de8f2d;
  }

  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  @media only screen and (max-width: 425px) {
    .small-icons {
      width: 3.5rem;
    }
  }
}
